
.titulo{
  margin-top:80px;
  font-size:xxx-large;
  font-family: fantasy;
 -webkit-text-stroke: 2px  black;
  color: #29B65A;
}
form{
  
  width: 100%;
  text-align: center;
  height: auto;
  
 
}
.input{

  margin-top:30px;
  margin-bottom:10px;
  
}
.input input{
  width: 200px;
  height: 20px;
  margin:auto;
  border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}
.input input:focus{
  border-bottom: solid #248000 .2rem;
	border-bottom-width: medium;
  
}
.botones input{
  height: 40px;
  width: 60px;
  background-color:#C8C8C8  ;
  transition: all .5s;
  border: none;
  margin-bottom: 20px;
  font-size: large;
}
.botones input:hover{
  background-color:#248000 ;
  color:white;
}
p{
  margin-top: 50px;
  font-size:xx-large;
}
footer{
  text-align: center;
  width: 100%;
  width: auto;
  font-size: unset;
  
}
